@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* Reset some default styles */
body, h1, h2, p, ul, ol {
  margin: 0;
  padding: 0;
}

/* Basic styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #000000;
  background-image: linear-gradient(120deg, #1a1a1a 0%, #333 100%);
}

/* Header styles */
header {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ffffff;
}

.header_nav {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}

.header_nav_lists {
  justify-content: right;
  margin-right: 20px; 
}

/* Responsive menu button */
.responsive_btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 40px 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 120;
}

.menu_line {
  background: #f4f4f4;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  margin: 4px 0;
}
/* Responsive style */
@media screen and (max-width: 560px) {
  .responsive_btn {
    display: flex;
  }
  .header_bg {
    position: relative;
  }
  .header_nav {
    background: #333;
    width: 100%;
    height: 100vh;
    padding: 80px 0 0 0;
    position: fixed;
    top: 0;
    right: -100%;
    transition: .5s;
    z-index: 2;
  }
  .header_nav_lists {
    display: block;
    text-align: center;
    margin-left: 0;
  }
  .header_nav_lists li {
    margin: 0 0 40px;
    text-align: center;
  }
  .nav_link {
    font-size: 20px;
  }
}
/* js function "menuToggle" starting only */
.menu_active {
  right: 0;
}


/* Main content styles */
main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 10px;
}

h1, h2 {
  margin-bottom: 1rem;
  color: #333;
}

h2 {
  font-size: 1.5rem;
}

p, ul, ol {
  margin-bottom: 1rem;
}

ul li, ol li {
  margin-left: 1.5rem;
}

span {
  color:#b74170c3;
}

.intro {
  margin: 120px auto 100px auto
}
.inner {
  width: 800px;
  margin: 0 auto;
}

.name_jp {
  font-family: 'Noto Sans JP';
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 0.15em;
}

.name_en {
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.img_profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius:50%;
}

.introduction {
  font-size: 14px;
  width: 370px;
}

/* Footer styles */
footer {
  background-color: rgba(0, 0, 0, 0.75);
  color: #f4f4f4;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}


.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}

.follow-me li a:hover::before {
  color: #fff;
}

.follow-me li a[href*="github.com"]::before         { content: "\f09b"; }
.follow-me li a[href*="youtube.com"]::before        { content: "\f16a"; }
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }
.follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }

.follow-me li a[href*="github.com"]:hover::before         { background-color: #181717; }
.follow-me li a[href*="instagram.com"]:hover::before      { background-color: #125688; }
.follow-me li a[href*="youtube.com"]:hover::before        { background-color: #cd201f; }
.follow-me li a[href*="twitter.com"]:hover::before        { background-color: #55acee; }